# Python
__pycache__/
*.py[cod]
*.so

# VS Code
.vscode/

# macOS
.DS_Store

# Virtual environments
venv/
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
